/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  width: inherit;
  margin: 0 auto;
  padding: 0 auto;
  font-family:  arial, sans-serif;

}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}


.login_info {
  display: flex;
  align-items: center;
  text-align: right;
}

.login_info > * {
  padding-left: 20px;
}

.main {
  text-align: center;
  max-width: 900px;
  margin: inherit;
  /* background-color: blue; */
}

.errors {
  margin-bottom: 20px;
}

.errors ul {
  max-width: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}

.button {
  background-color: lightskyblue;
  border-radius: 3px;
  padding: 5px 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  background-color: steelblue;
  color: white;
}
